<div class="page-container">
  <div class="auth-card">
    <h2 class="auth-title">Edit Exercise</h2>
    <%= render "form", workout_plan_exercise: @workout_plan_exercise, exercises: @exercises %>
  </div>
</div>
