<nav>
  <a href="/">Home</a>
  <a href="#">Messages</a>
  <%= link_to "Calendar", calendars_path %>
  <%= link_to "Workout Plans", workout_plans_path %>
  <%= link_to "Buddies", user_profiles_path %>
</nav>
