<details>
  <summary>Chat with your coach <strong>AIrnold</strong></summary>
  <div id="messages">
    <% chat.messages.visible.order(:created_at).each do |message| %>
      <%= render message %>
    <% end %>
  </div>
  <%= render "messages/form", chat: chat, message: message %>
</details>
