<div class="page-container">
  <div class="auth-card">
    <h2 class="auth-title">New Workout Plan</h2>
    <%= render "form", workout_plan: @workout_plan, url: pairing_workout_plans_path(@pairing) %>
  </div>
</div>
